/* Extra Large Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .owl-carousel .owl-nav div {
        right: 87px;
    }
}

/* Large Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .single-slider {
        background-size: cover;
        background-position: center center;
    }
    .slider-text {
        padding-left: 60px;
    }
    .product-active.owl-carousel .owl-nav div {
        top: -17%;
    }
    .mean-container a.meanmenu-reveal {
        top: -26px;
        left: 0;
    }

    .logo {
        padding-top: 20px;
    }

}
 
/* Medium Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        padding-top: 20px;
    }
    .slider-text h1 {
        font-size: 25px;
    }
    .single-slider {
        min-height: 500px;
    }


    .product-tab ul li {
        margin-right: 35px;
    }

    .product-tab ul li a {
        font-size: 14px;
    }

    .slider-text p {
        margin-bottom: 20px;
    }

    .slider-text {
        padding-left: 50px;
    }

    .mean-container a.meanmenu-reveal {
        top: -26px;
        left: 0;
    }

    .footer-icon.pt-40{
        padding-top: 0;
    }

    .pt-75{
        padding-top: 45px;
    }

    .pb-75{
        padding-bottom: 45px;
    }

    .mb-75{
        margin-bottom: 45px;
    }
    .mt-75{
        margin-top: 45px;
    }
    .pb-110{
        padding-bottom: 70px;
    }

    .footer-menu.text-left{
        text-align: center!important;
    }
    .footer-icon.text-right{
        text-align: center!important;
    }
}
 
/* Small Device :320px. */
@media (max-width: 767px) {

    .logo {
        padding-top: 20px;
    }

    .single-slider {
        background-size: cover;
    }
    .slider-text {
        padding-left: 30px;
    }
    .mean-container a.meanmenu-reveal {
        top: -26px;
        left: 0;
    }

    .product-active.owl-carousel .owl-nav div {
        top: -6%;
    }

    .slider-text h1 {
        font-size: 25px;
    }

    .single-slider {
        min-height: 500px;
    }

    .product-tab ul li {
        margin-right: 35px;
    }

    .product-tab ul li a {
        font-size: 14px;
    }

    .slider-text p {
        margin-bottom: 20px;
    }

    .footer-icon.pt-40{
        padding-top: 40;
    }

    .pt-75{
        padding-top: 45px;
    }

    .pb-75{
        padding-bottom: 45px;
    }

    .mb-75{
        margin-bottom: 45px;
    }
    .mt-75{
        margin-top: 45px;
    }
    .pb-110{
        padding-bottom: 50px;
    }
    
    .footer-menu.text-left{
        text-align: center!important;
    }
    .footer-icon.text-right{
        text-align: center!important;
    }

    .footer-menu ul li {
        margin-right: 20px;
    }

    .header-right ul li ul.minicart {
        padding: 20px;
        width: 100%;
    }

    .search-box input {
        width: 315px;
    }

    .product-tab ul li {
        margin-right: 20px;
        margin-bottom: 15px;
    }

    .newsletter input[type="email"] {
        width: 100%;
        margin-bottom: 20px;
    }

    .newsletter .btn {
        width: 100%;
    }

    .footer-menu ul li a {
        padding-bottom: 0;
        padding-top: 40px;
    }
  
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}
